
<div id="nav">
    
    <span style="margin: 10px;">
       <a href="/notes/addform"><button class="ui primary button" href="/dict/random/ita">
     Nowy wpis
    </button></a> 
    </span>
    
        
  
    
    
        
</div>