
<!DOCTYPE html>
<html>
    <head>
        <title>Page Title</title>
         <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
 <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
      
    </head>
    <body>
    <%- include('partials/main_navigation') %>
    
    <div style="margin: 20px;">
         <%- body %>
    </div>
    <%- include('partials/footer') %>
    <script type="text/javascript" src="js/test.js"></script>
    </body>
</html>